system/etc/com.volla.gsmnlp/lacells.db
system/priv-app/com.google.android.gms/com.google.android.gms.apk
system/app/net.osmand.plus/net.osmand.plus.apk
system/app/org.mozilla.fennec_fdroid-Stub/org.mozilla.fennec_fdroid-Stub.apk
system/app/hideme.android.vpn.noPlayStore-Stub/hideme.android.vpn.noPlayStore-Stub.apk
product/app/webview/webview.apk
